<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/PIE_IE678.js"></script>
    <![endif]-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="Widget/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <link href="Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <link href="Widget/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <title>信息更改</title>
</head>
<body>
<div class="clearfix" id="add_picture">
    <div id="scroll">
    </div>
    <div class="page_right_style" style="left: 0px;width: 100%;" ng-app="myApp"
         ng-controller="shopCtrl">
        <div class="type_title" data-ng-init="getCategory()">信息更改</div>
        <div class="form form-horizontal" id="form-article-add"
             style="border:solid 1px lightgrey;min-width:500px;max-width:600px;margin:0 auto;">
            <div class="clearfix cl">
                <div class="formControls col-10">
                    <label style="display:block;float:left;" class="form-label col-2"><span class="c-red"
                                                                                            style="color: red;">*</span>店铺名称：</label>
                    <input ng-model="shop.name" id="sellerName" style="display:block;float:left;width:60%;" type="text"
                           class="input-text">
                </div>
            </div>
            <div class=" clearfix cl">
                <div class="formControls col-10">
                    <label class="form-label col-2" style="display:block;float:left;">&nbsp;店铺简介：</label>
                    <input ng-model="shop.introduce" id="introduce" style="display:block;float:left;width:60%;"
                           type="text"
                           class="input-text">
                </div>
            </div>
            <div class=" clearfix cl">
                <div class="formControls col-10">
                    <label class="form-label col-2" style="display:block;float:left;">&nbsp;店铺电话：</label>
                    <input ng-model="shop.contact" id="seller_phone" style="display:block;float:left;width:60%;"
                           type="text"
                           class="input-text">
                </div>
            </div>
            <div class=" clearfix cl">
                <div class="Add_p_s" style="margin-left: 10px;">
                    <label class="form-label col-2">省份：</label>
                    <div class="formControls col-2">
                        <span class="select-box">
				        <select id="sellerProvince" class="select" ng-model="shop.selectedCategory"
                                ng-init="selectedCategory = category[0]"
                                ng-options="item.id as item.name for item in categorys">
				        </select>
				        </span>
                    </div>
                </div>

                <div class="Add_p_s" style="margin-left: 10px;">
                    <label class="form-label col-2">所属学校：</label>
                    <div class="formControls col-2">
                        <span class="select-box">
				        <select id="sellerSchool" class="select" ng-model="shop.selectedCategory"
                                ng-init="selectedCategory = category[0]"
                                ng-options="item.id as item.name for item in categorys2">
				        </select>
				        </span>
                    </div>
                </div>
                <div class="Add_p_s" style="margin-left: 25px;width:80%;">
                    <label class="form-label col-2">是否关铺？:&nbsp;&nbsp;</label><input id="onSales" ng-model="shop.onSale"
                                                                                     type="checkbox"
                                                                                     checked style="height: 30px;">
                </div>



            <div class="clearfix cl" style="text-align: center;margin-top: 30px;margin-bottom: 5px;">
                <div class="Button_operation">
                    <button ng-click="uploadshop()" class="btn btn-primary radius" type="submit"><i
                            class="icon-save "></i>保存更改
                    </button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/typeahead-bs2.min.js"></script>
<script src="assets/layer/layer.js" type="text/javascript"></script>
<!--<script src="assets/laydate/laydate.js" type="text/javascript"></script>-->
<script type="text/javascript" src="Widget/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="Widget/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="Widget/webuploader/0.1.5/webuploader.min.js"></script>
<script src="js/lrtk.js" type="text/javascript"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script>
    $(function () {
        $("#add_picture").fix({
            float: 'left',
            skin: 'green',
            durationTime: false,
            stylewidth: '220',
            spacingw: 0,
            spacingh: 260,
        });
    });
    $(document).ready(function () {
        //初始化宽度、高度
        $(".widget-box").height($(window).height());
        $(".page_right_style").height($(window).height());
        $(".page_right_style").width($(window).width());
        //当文档窗口发生改变时 触发
        $(window).resize(function () {

            $(".widget-box").height($(window).height());
            $(".page_right_style").height($(window).height());
            $(".page_right_style").width($(window).width());
        });
    });
    // $(function () {
    //     var ue = UE.getEditor('editor');
    // });


    /**
     *
     * 请求参数：标签----参数名
     * 店铺名称---sellerName
     * 店铺简介--introduce
     * 店铺电话----seller_phone
     * 店铺地址------address
     * 所属学校------sellerSchool
     * 是否关铺-----sellerSchool
     */
</script>
<script src="js/angular.min.js"></script>
<script>
    var shop_category;
    var shop_style = "";
    var app = angular.module('myApp', []);
    app.controller('shopCtrl', function ($scope, $http) {
        $scope.category = ["饮料", "日常用品", "零食", "家居用品", "电器", "烟酒", "粮油"];
        $scope.shop = {id:6, name: "", introduce: "", contact: "", school_id: 0, status: 1, address: "",image:""};
        $scope.categorys = [{name:"江苏省",id:1},{name:"浙江省",id:2},{name:"广东省",id:3}];
        $scope.categorys2 = [{name:"江苏师范大学",id:1},{name:"江苏大学",id:2},{name:"南京大学",id:3}];
        var formData = new FormData();
        $scope.getCategory = function () {
            $http({
                method: 'POST',
                url: '/shop/findByUserId',
                params: {}
            }).then(function successCallback(response) {
                // shop_category = response.data;
                $scope.shop = response.data;
            }, function errorCallback(response) {
                // 请求失败执行代码
                console.log("网络异常！请联系管理员！");
            });
            $http({
                method: 'POST',
                url: '/shop/getAllProvince',
                params: {}
            }).then(function successCallback(response) {
                // shop_category = response.data;
                $scope.category = response.data;
            }, function errorCallback(response) {
                // 请求失败执行代码
                console.log("网络异常！请联系管理员！");
            });
        };
        $scope.uploadshop = function () {
            // var img = $('#imgFile')[0].files[0];
            // // formData.append('image', "img");
            // formData.append('name', $scope.shop.name);
            // formData.append('introduce', $scope.shop.introduce);
            // formData.append('contact', $scope.shop.contact);
            // formData.append('address', $scope.shop.address);
            // formData.append('id',$scope.shop.id);
            // var status = 0;  //店铺状态 1:营业中 0:休息中
            // if ($("#onSales").is(':checked'))
            //     status = 1;
            // formData.append('status', status);
            // formData.append('school_id', 1)
            // var c = $scope.shop.selectedCategory;
            // formData.append('category', c);
            $http({
                method: 'POST',
                url: '/shop/update',
                params:{image:"",name:$scope.shop.name,introduce:$scope.shop.introduce,contact:$scope.shop.contact,
                    status:$scope.shop.status,school_id:$scope.shop.school_id,address:$scope.shop.address, id:$scope.shop.id}
                // data: formData,
                // headers: {'Content-Type': undefined},
                // transformRequest: angular.identity
            }).then(function successCallback(response) {
                alert("添加商品成功！");
                location.reload(); // "/html/Products_List.html";
            }, function errorCallback(response) {
                // 请求失败执行代码
                console.log("网络异常！请联系管理员");
            });
        }
    });
    var content_id = "#content_";
    var no = 0;
    function addContent(){
        var content_val = $("#content_value").val();
        no = no + 1;
        var id = content_id + no;
        $(content_id+no).css('display','inline-block');
        document.getElementById("content_"+no).innerText=content_val;
        shop_style+=content_val+"@";
        $("#content_value").val("");
    }
    function checkPrice() {
        var number = $("#price").val();
        var strP = /^\d+(.\d+)?$/; //正则
        if (!strP.test(number)) {
            alert("输入价格格式有误");
            return false;
        }
        return true;
    }
</script>
<script>
    var image = '';

    function selectImage(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            document.getElementById('image').src = evt.target.result;
            image = evt.target.result;
        }
        reader.readAsDataURL(file.files[0]);
    }
</script>
</body>
</html>