<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.eshop.mapper.DebtMapper" >
  <resultMap id="BaseResultMap" type="com.item.eshop.model.Debt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="max_limit" property="max_limit" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, max_limit, cost,valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from debt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from debt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.item.eshop.model.Debt" >
    insert into debt (id, max_limit, cost
      )
    values (#{id,jdbcType=INTEGER}, #{max_limit,jdbcType=DECIMAL}, #{cost,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.item.eshop.model.Debt" >
    insert ignore into debt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="max_limit != null" >
        max_limit,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="max_limit != null" >
        #{max_limit,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.eshop.model.Debt" >
    update debt
    <set >
      <if test="max_limit != null" >
        max_limit = #{max_limit,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.eshop.model.Debt" >
    update debt
    set max_limit = #{max_limit,jdbcType=DECIMAL},
      cost = #{cost,jdbcType=DECIMAL},
      valid = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- add  msg :   valid  into  sentence:(insert and update)   chan  2018/4/16 -->
  <update id="updateValidToPay" >
    update debt
    set
    valid = 3
    where valid=2 AND cost>0
  </update>
  <update id="updateValidToExpire" >
    update debt
    set
    valid = 4
    where valid=3 AND cost>0
  </update>
  <select id="selectMore" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from debt
    LIMIT #{param1},#{param2}
  </select>
  <select id="selectMoreByValid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from debt
    where valid = #{param1}
    LIMIT #{param2},#{param3}
  </select>
  <select id="selectForRePay" resultType="java.lang.Integer">
    select id from debt where valid > 2 AND cost>0
  </select>
</mapper>