<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.eshop.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.item.eshop.model.Shop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="school_id" property="school_id" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name,introduce,contact,school_id,image,status,address,user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.item.eshop.model.Shop" >
    insert into shop ( name,introduce,address,status,user_id,image,school_id,contact
      )
    values (#{name,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR},#{school_id,jdbcType=INTEGER},#{contact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.item.eshop.model.Shop" >
    insert shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="school_id != null">
        school_id,
      </if>
      <if test="contact != null">
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="school_id != null" >
        #{school_id,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.eshop.model.Shop" >
    update shop
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="school_id != null" >
      school_id = #{school_id,jdbcType=INTEGER},
    </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} AND user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.eshop.model.Shop" >
    update shop
    set  name = #{name,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      school_id = #{school_id,jdbcType=INTEGER},
      contact = #{contact,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER} AND user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <select id="selectMore" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    LIMIT #{param1},#{param2}
  </select>
  <select id="selectMoreByCategory" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    where category = #{param1}
    LIMIT #{param2},#{param3}
  </select>
  <select id="selectByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    where user_id = #{param1}
  </select>
  <!--add zheng 2018.6.30 -->
  <select id="selectShopBySchoolId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    where school_id = #{param1}
  </select>
</mapper>