<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.eshop.mapper.TradeGoodMapper" >
  <resultMap id="BaseResultMap" type="com.item.eshop.model.TradeGood" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="trade_id" property="tradeId" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, good_id, count, trade_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trade_good
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_good
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.item.eshop.model.TradeGood" >
    insert into trade_good (id, good_id, count, 
      trade_id,other)
    values (#{id,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{tradeId,jdbcType=VARCHAR},#{other,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.item.eshop.model.TradeGood" >
    insert into trade_good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="other != null" >
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.eshop.model.TradeGood" >
    update trade_good
    <set >
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.eshop.model.TradeGood" >
    update trade_good
    set good_id = #{goodId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      trade_id = #{tradeId,jdbcType=VARCHAR}
       other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTrade" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from trade_good
    where trade_id = #{param1}
  </select>
  <select id="selectByGood" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select
    trade_id
    from trade_good
    where good_id = #{param1}
  </select>
</mapper>