<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.eshop.mapper.UserCouponMapper" >
  <resultMap id="BaseResultMap" type="com.item.eshop.model.UserCoupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, coupon_id, deadline, valid
  </sql>
  <resultMap id="BaseResultMap2" type="com.item.eshop.model.Coupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="minus" property="minus" jdbcType="DECIMAL" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List2" >
    id, total, minus, deadline, valid,day, count
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.item.eshop.model.UserCoupon" >
    insert into user_coupon (id, user_id, coupon_id, 
      deadline, valid)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, 
      #{deadline,jdbcType=TIMESTAMP}, #{valid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.item.eshop.model.UserCoupon" >
    insert into user_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.eshop.model.UserCoupon" >
    update user_coupon
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.eshop.model.UserCoupon" >
    update user_coupon
    set user_id = #{userId,jdbcType=INTEGER},
      coupon_id = #{couponId,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserAndCoupon" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_coupon
    where user_id = #{param1} AND coupon_id = #{param2}
  </select>

  <update id="useCoupon" parameterType="java.lang.Integer" >
    update user_coupon
    set
    valid = 0
    where coupon_id = #{param1} AND user_id = #{param2}
  </update>

  <select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_coupon
    where user_id = #{userId,jdbcType=INTEGER} AND valid = 1 AND TO_DAYS(deadline) - TO_DAYS(NOW()) > -1
  </select>

  <select id="selectByUserValid" resultMap="BaseResultMap2" parameterType="java.lang.Integer" >
    select
    *
    from coupon
    where id not in (select coupon_id from user_coupon where user_id = #{param1}) AND valid=1 AND id!=0
  </select>
</mapper>